$color-dark: #375a64;
$color-black: #1a2e35;

$color-grey-0: #f5f5f5;
$color-grey-1: #eeeeee;
$color-grey-2: #e5e5e5;

$color-main: #ff4f5b;
$color-secondary: #71bdf8;

$color-blue: #71bdf8;
$color-bluesky: #e8f0fe;
