@import "colors.scss";

// general
.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;

  &-flex {
    display: flex;
    flex-direction: column;
  }
}

.logo {
  display: flex;
  justify-content: center;
  margin: 1em 0 1rem 0;
  max-width: 200px;
}

a {
  color: $color-blue;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
}

.dark {
  color: #fff;
  background: $color-dark;
  transition: all 0.3s ease;
}
