@import "../../assets/scss/main.scss";

// responsive
@media (min-width: 1px) {
  .login {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
      align-items: center;
      justify-content: center;
    }

    .toggle-mode {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    form {
      width: 100%;
    }
  }
}

@media (min-width: 400px) {
  .home {
    .container {
      width: 400px;
    }
  }
}
