@media (min-width: 1px) {
  .fav-page {
    padding-top: 4rem;

    .title {
      display: flex;
      align-items: center;

      justify-content: flex-start;
    }
    .btns {
      margin-bottom: 1rem;
      .btn {
        span {
          display: none !important;
        }
      }
    }

    &-init {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .title-field {
        margin-bottom: 2rem;
      }
      .btn {
        margin-bottom: 5rem !important;
      }
      .img {
        width: 100%;
        svg {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
@media (min-width: 850px) {
  .fav-page {
    .title {
    }
    .btns {
      .btn {
        span {
          display: block !important;
        }
      }
    }
    .img {
      width: 30rem;
    }
  }
}
