@import "../../scss/colors.scss";

// colors
$btn-text: $color-dark;
$btn-default-bg: $color-grey-2;
$btn-outline-text: $color-main;
$btn-outline-border: $color-main;
$btn-primary-bg: $color-blue;
$btn-danger-bg: $color-main;

$btn-text-dark: #fff;
$btn-default-text-dark: $color-dark;
$btn-default-bg-dark: #fff;
$btn-outline-text-dark: #fff;
$btn-outline-border-dark: $color-main;

// COMPONENT
.btn {
  background: transparent !important;
  outline: none !important;
  border: 0 !important;
  opacity: 1 !important;
  color: $btn-text !important;
  cursor: pointer !important;
  font-weight: 600 !important;
  padding: 0 1rem !important;
  height: 2.5rem !important;
  border-radius: 0.5rem !important;
  margin: 0 0.5rem 0.5rem 0 !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative !important;
  overflow: hidden !important;
  box-shadow: none !important;

  transition: all 0.2s ease !important;

  &-default {
    background-color: $btn-default-bg !important;
  }

  &-outline {
    color: $btn-outline-text !important;
    border: solid 0.1rem $btn-outline-border !important;
  }

  &-primary {
    color: #fff !important;
    background: $btn-primary-bg !important;
    border: 0 !important;
  }

  &-danger {
    color: #fff !important;
    background: $btn-danger-bg !important;
    border: 0 !important;
  }

  &-success {
    color: #fff !important;
    background: $color-green !important;
    border: 0 !important;
  }

  &-google {
    & > div {
      background: transparent !important;
      padding: 0 !important;
      left: 1rem !important;
      position: absolute !important;
    }
    & > span {
      background: transparent !important;
      padding: 0 !important;
      padding-left: 1rem !important;
      position: absolute !important;
      top: 12px !important;
    }
  }

  &-circle {
    background: #fff !important;
    padding: 0 !important;
    width: 2.5rem !important;
    border-radius: 2.5rem !important;
    border: solid 0.1rem $btn-outline-border !important;
    i {
      color: $color-main !important;
    }
  }

  &-icon {
    & i {
      font-size: 1.1rem !important;
    }
    & i + span {
      padding-left: 1rem !important;
    }
  }

  &-block {
    display: flex !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    & i {
      left: 1rem !important;
      position: absolute !important;
    }
  }

  &:hover {
    opacity: 0.7 !important;
  }
  &:disabled {
    opacity: 0.3 !important;
    &:hover {
      opacity: 0.3 !important;
      cursor: not-allowed !important;
    }
  }

  span {
    height: 0.7rem !important;
  }
}

// DARK
.dark {
  .btn {
    color: $btn-text-dark !important;

    &-default {
      color: $btn-default-text-dark !important;
      background-color: $btn-default-bg-dark !important;
    }

    &-outline {
      color: $btn-outline-text-dark !important;
      border-color: $btn-outline-border-dark !important;
    }
  }
}
