@import url(../../node_modules/font-awesome/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Poppins:wght@600;700&display=swap");

:root {
  --color: rgba(128, 44, 110);
  --color-10: rgba(128, 44, 110, 0.1);
  --color-hover: rgb(85, 29, 73);
  --color-btn: #fff;
  --color-btn-hover: rgb(128, 44, 110);
  --color-negro: #333;
}
body {
  text-align: center;
  background: var(--color-10);
  font-family: "Exo 2", sans-serif;
  color: var(--color-negro);
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.logo,
.title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 0;
}
.logo a {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: var(--color-negro);
  text-decoration: none;
}
.logo img {
  width: 50px;
  padding-right: 15px;
}
.mainMenu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.mainMenu ul {
  display: flex;
  list-style: none;
}
.mainMenu ul a {
  padding: 10px 0;
  margin: 0 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: var(--color-negro);
  text-decoration: none;
}

.home .mainMenu li[data-page="home"] a,
.about .mainMenu li[data-page="about"] a {
  border-bottom: 3px solid var(--color);
}
.title {
  text-align: left;
  /* padding-left: 20px; */
  margin-top: 50px;
  margin-bottom: 20px;
}
.title h2 {
  font-size: 2em;
  color: var(--color);
  line-height: 1.2em;
}
.container {
  max-width: 780px;
  position: relative;
  margin: auto;
}
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product_card {
  width: 235px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  margin: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: all 0.4s ease;
}
.product_card:hover {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
}
.product_card h3 {
  border-top: solid 1px rgba(0, 0, 0, 0.05);
  padding: 20px 15px 0 15px;
  font-size: 0.8em;

  display: block;
}

.product_card figure {
  height: 100px;
  transition: all 0.2s ease;
}
.product_card figure img {
  height: 100%;
  width: auto;
}
.product_card:hover figure {
  transform: scale(1.05);
}
.product_card:hover .btn {
  background: var(--color-btn-hover);
}
.product_card a {
  display: block;
  text-decoration: none;
  width: 100%;
  margin: 0;
}
.timer {
  padding: 10px 0;
}
.timer i {
  margin-right: 8px;
}
.rate {
  display: flex;
  align-items: center;
}
.rate_num {
  margin-right: 10px;
  background: #fff;
  padding: 2px 10px;
  border-radius: 8px;
  color: #aaa;
  font-size: 0.7em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.rate_stars .fa-star,
.rate_stars .fa-star-half-o {
  color: rgb(250, 199, 44);
}
.rate_stars .fa-star-o {
  color: rgb(218, 216, 216);
}
.btn {
  padding: 10px 20px;
  color: #fff;
  background: var(--color-btn);
}
.btn.disable,
.product_card:hover .btn.disable {
  display: block;
  width: 100%;
  background: #ccc;
}

.product .mainMenu + .container {
  padding-top: 50px;
}
.product .container {
  display: flex;
  align-items: stretch;
}
.product_info {
  text-align: left;
}
.product .title h2 {
  font-size: 1.5em;
}
.product_price {
  padding-top: 30px;
  font-size: 2em;
}
.product_image {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_image > div {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  background: #fff;

  display: flex;
  flex-direction: column;
  padding: 15px;
}
.product_image img {
  width: auto;
  width: 200px;
}
.product_info {
  flex: 5;
  padding: 15px 0 15px 40px;
}
.product_rate {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.product .btn {
  background: var(--color);
  border-radius: 10px;
  padding: 15px 25px;
  margin-top: 20px;
  text-align: center;
  display: inline-flex;
}
.product .btn i {
  font-size: 1.5em;
  margin-right: 10px;
}
.product .btn:hover {
  background: var(--color-hover);
}
