@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
:root{
    --color1: rgba(242, 242, 242,1);
    --color2: rgba(71, 82, 94, 1);
}

body{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background: var(--color2);
}
figure, ul{
    padding: 0;
    margin: 0;
}
/* img{
    width: 50px;
} */
.container{
    max-width: 80%;
    position: relative;
    margin: auto;
}
header,main,footer{
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header nav .container{ 
    display: flex;
    justify-content: flex-end;
}
header nav ul{
    display: flex;
    align-items: center;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: var(--color2);
    padding: 5px 15px 8px 15px;
    transition: all .4s ease;
}
header nav ul li a:hover,
body.home header nav ul li a[data-active='home'],
body.about header nav ul li a[data-active='about'],
body.features header nav ul li a[data-active='features'],
body.pricing header nav ul li a[data-active='pricing'],
body.contac header nav ul li a[data-active='contac']{
    background: var(--color2);
    color: #fff;
}













header section,
header nav{
    width: 100%;
    background: #fff;
    padding: 35px 0;
}
header section{
    background: var(--color1);
}
header section .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
a article{
    display: flex;
    justify-content: center;
    width: 200px;
    color: var(--color2);
}
a article img{
    width: 100%;
    height: auto;
}
a article figure{
    margin: 0;
    position: relative;
    padding-top: 10px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    /* border: solid 1px red; */
    width: 100%;
}
a article figure div{
    /* border: solid 1px red; */
    overflow: hidden;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a article figure img{
    width: auto;
    width: 100%;
    transition: all .3s ease;
    transform: scale(1);
}
a:hover article figure img{
    transform: scale(1.1);
}
a article figure figcaption{
    text-align: center;
    background: #fff;
    padding: 10px 20px 25px 20px ;
    position: absolute;
    bottom: 20px;
    border: solid 1px #ccc;
}
a article figure figcaption span{
    border-bottom: solid 2px var(--color2);
    font-size: .6em;
    padding-bottom: 5px;
}
a:hover article figure figcaption span{
    border-bottom: solid 2px orangered;
}

main{
    width: 100%;
    padding: 20px 0;
    font-size: .7em;
    background: #fff;
}
main .container{
    display: flex;
    align-items: stretch;
    
}
main section{
    width: 70%;
    display: flex;
    align-items: stretch;
}
main section article{
    background: var(--color1);
    padding: 20px 70px;
    text-align: center;
}
main section article h3{
    text-transform: uppercase;
    font-size: 1.1em;
}
main p{
    text-align: justify;
}
main section article img{
    width: 100%;
}
main aside{
    width: 30%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main aside > div{
    width:150px
}
main aside img{
    width: 100px;
}
main aside h3{
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: solid 2px var(--color2);
}
main aside input,
main aside textarea{
    border: solid 1px var(--color2);
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 5px;
    width: 80%;
}
main aside input[type*='sub']{
    background: var(--color2);
    color: #fff;
}
main aside input[type*='sub']:hover{
    background: #333;
    color: #fff;
}

footer{
    background: var(--color2);
    text-align: center;
    color: #fff;
    padding: 60px 0
}
footer a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
}











/* HOME */

body.home header section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: rgb(32, 32, 32) url(../images/autor-image.jpeg) no-repeat 0 20%;
    background-size: auto 300%;
    font-family: 'Mr Dafoe', cursive;
    font-size: 5rem;
    color: white;
    transition: all .4s ease;
}
body.home header section .container{
    flex: 1;
    justify-content: flex-end;
    transition: all .4s ease;
}

body.home main section{
    width: 100%;
    flex-wrap: wrap;
}
body.home main section > a{
    width: 50%;
}
body.home main section > a article{
    padding: 0;
    width: 100%;
    background: transparent;
}
body.home main section > a article figure {
    padding-left: 20px;
    padding-right: 20px;
}
body.home main section > a article figure div{
    height: 135px;
}
body.home main section > a article figure figcaption{
    font-size: 2em;
}







@media (max-width:749.5px) {
    header section article figure img{
        height: 140px;
    }

    body.home main section > a article figure div{
        height: 100px;
    }
    
}
@media (max-width:630px) {
    main .container{
        flex-direction: column;
    }
    main section,
    main aside{
        width: inherit;
    }
    main section article{
        padding: 20px;
    }
    .container{
        max-width: 90%;
    }
    header nav .container{ 
        justify-content: center;
    }
    header nav ul{
        width: 100%;
        justify-content: center;
    }

    /* //////////////// */
    body.home header section{
        background: linear-gradient(180deg,rgba(0,0,0,.7) 0%,rgba(0,0,0,1) 100%), rgb(32, 32, 32) url(../images/autor-image.jpeg) no-repeat center 20%;
        background-size: auto 500%;
        font-size: 4rem;   
    }
    body.home header section .container{
        justify-content: center;
    }
    header nav ul li a{
        font-size: .8em;
        padding: 5px;
    }
    header section article figure img{
        height: 100px;
    }
}
@media (max-width:480px) {
    footer{
        font-size: .8em;
    }
    footer span{
        display: block;
        padding-bottom: 5px;
    }

    body.home header section{
        font-size: 3rem; 
    }

    body.home main section > a{
        width: 80%;
    }
    body.home main section{
        width: 100%;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    body.home main section > a article figure div{
        height: 135px;
    }
}
@media (max-width:400px) {
    body.home main section > a{
        width: 100%;
    }

    body.home main section > a article figure div{
        height: 120px;
    }
}