:root{
    --red: rgba(251, 108, 108, 1);
    --red-light: rgba(252, 157, 157, 1);
    --red-dark: rgba(167, 72, 72, 1);

    --blue: rgba(118, 189, 254, 1);
    --blue-light: rgba(163, 211, 254, 1);
    --blue-dark: rgba(78, 126, 169, 1);

    --green: rgba(72, 208, 176, 1);
    --green-light: rgba(133, 223, 202, 1);
    --green-dark: rgba(48, 138, 117, 1);

    --white: white;
    --white-light: rgba(255,255,255,.4);
    --white-dark: #ddd;

    --gray: #aaa;
    --gray-light: #ccc;
    --gray-dark: #bbb;

    --pink: rgba(252, 157, 157,1);
    --pink-light: rgba(253, 189, 189,1);
    --pink-dark: rgba(168, 104, 104,1);

    --brown: rgba(176, 111, 102, 1);
    --brown-light: rgba(202, 159, 153, 1);
    --brown-dark: rgba(117, 74, 68, 1);

    --purple: rgba(116, 89, 138, 1);
    --purple-light: rgba(162, 144, 177, 1);
    --purple-dark: rgba(77, 59, 92, 1);

    --yellow: rgba(255, 216, 111, 1);
    --yellow-light: rgba(255, 229, 159, 1);
    --yellow-dark: rgba(170, 144, 74, 1);

    --black: #333;
    --black-light: #555;
    --black-dark: #000;

}
body{
    margin: 0;
    padding: 0;
    background: #F7F7F7;
    font-family: sans-serif;
    overflow-y: hidden;
}
main{
    
    width: 100%;
    height: 100vh;
    overflow: scroll;
    
    /* display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    */
    
}
main > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
h3{
    margin-top:8px;
    margin-bottom:0;
}
.logo{
    background: url(https://www.kindpng.com/picc/m/2-24125_pokemon-logo-transparent-hd-png-download.png) no-repeat 0 0;
    background-size: cover;
    width: 200px;
    height: 80px;
    margin-bottom: 20px;
}
#pokemones{
    max-width: 1250px;
    display: flex;
    flex-wrap: wrap;
    
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
}
.pokemon{
    width: 115px;
    text-align: center;
    background:#fff;
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: all .2s ease;
    position: relative;
}

.num{
    background: rgba(255,255,255,.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3px;
    left:3px;
    margin: 0;
    font-size: .6em;
    
}
.pokemon .num{
    transition: all .2s ease;
    opacity: 0;
}
.pokemon:hover .num{
    opacity: 1;
}

.pokemon img{
    transition: all .2s ease;
    transform: scale(1);
}
.pokemon:hover img{
    transform: scale(1.2);
}

.info-container{
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .4s ease;
    height: 0;
    opacity: 0;
    visibility: hidden; 
}
.info-container.active{
    /* background: cornsilk; */
    border: 0 !important;
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
}

.info-container #info{
    width: 0;
    opacity: 0;
    transition: all .4s ease;
}
.info-container.active #info{
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    margin: 20px
}
.info-container.active #info .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-container.active #info .container > div:first-of-type{
    position: relative;
    z-index: 10;
}
.info-container.active .bg{
    background: #fff;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    right: 12px;
    box-shadow: 0 0 30px rgb(0,0,0,.1);
}
.info-container.active .bg .num{
    font-size: 1em;
    top: 20px;
    left: 20px;
    color: #AAA592;
}
.info-container a{
    display: inline-block;
    color: #AAA592;
    position: absolute;
    z-index: 20;
}
.info-container a:hover{
    color: #716E61;
}
.info-container a.btn-close{
    right: 0;
    margin: 0 12px;
    border:solid 4px #fff;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-container a.btn-next{
    right: 20px;
    color: #fff;
}
.info-container a.btn-prev{
    left: 20px;
    color: #fff;
}
.info-container .images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-container .img,
.info-container .imgs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-container .img img{
    transition: all .4s ease;
    width: 200px;
    padding-bottom: 20px;
}
.info-container .imgs img{
    max-width: 100%;
}
.info-container img{
    
    height: auto;
    display:block;
}

.info-container h1{
    color:#333;
    text-transform: capitalize;
    text-align: center;
    margin-top: 0;
}
.info-container h1 small{
    display: block;
}
.info-container h1 span{
    display: inline-block;
    font-size: .4em;
    padding: 4px;
    border-radius: 8px;
    color: #fff !important;
    margin-right: 4px;
}
.info-container[data-color='white'] h1,
.info-container[data-color='yellow'] h1,
.info-container[data-color='white'] a.btn-next,
.info-container[data-color='yellow'] a.btn-next,
.info-container[data-color='white'] a.btn-prev,
.info-container[data-color='yellow'] a.btn-prev{
    color: #555 !important;
}
.info-container[data-color='gray'] h1,
.info-container[data-color='gray'] a.btn-next,
.info-container[data-color='gray'] a.btn-prev{
    color: #333 !important;
}


.info-container .info > div {
    border-bottom: solid 1px #ddd;
    padding: 0 0 5px 0;
    font-size: .8em;
    color: #716E61;
}
.info-container .info > div:last-child{
    border-bottom: 0;
    padding: 0;
}


footer{
    padding-top: 20px;
    color: #aaa;
    letter-spacing: .4em;
    font-size: .8em;
}
@media (min-width:1px) {

    .info-container.active #info{
        width: 80%;
    }
    .info-container.active .container,
    .info-container.active .container > div:first-of-type{
        width: 100%;
    }
    .info-container.active .bg{
        top:200px;
    }
    .info-container.active a{
        top: 50px;
    }
    .info-container.active a.btn-close{
        top: 200px;
    }
    .info-container.active h1{
        color: #fff;
    }
    #poke9 .img img,
    #poke10 .img img,
    #poke13 .img img,
    #poke14 .img img,
    #poke19 .img img,
    #poke23 .img img,
    #poke24 .img img,
    #poke25 .img img,
    #poke52 .img img,
    #poke54 .img img,
    #poke57 .img img,
    #poke64 .img img,
    #poke66 .img img,
    #poke83 .img img,
    #poke84 .img img,
    #poke85 .img img,
    #poke87 .img img,
    #poke104 .img img,
    #poke106 .img img,
    #poke107 .img img,
    #poke108 .img img,
    #poke116 .img img,
    #poke122 .img img,
    #poke123 .img img,
    #poke125 .img img,
    #poke133 .img img,
    #poke148 .img img,
    #poke149 .img img,
    #poke150 .img img{
        width: auto;
        height: 200px;
    }
    
}
@media (min-width:500px) {
    .info-container.active #info{
        width: 450px;
    }
}
@media (min-width:500px) and (max-height:700px) {
    .info-container.active .bg {
        top: 175px;
    }
    .info-container.active a.btn-close {
        top: 175px;
    }
    .info-container .images{
        flex-direction: row-reverse;
        height: 100px;
    }
    .info-container h1{
        text-align: left;
        padding-left: 40px;
    }
    .info-container .num{
        top: -20px !important;
        left: -20px !important;
        background: #fff;
        padding: 11px;
        border: solid 5px transparent;
    }
    .info-container.active[data-color='red'] .num{
        border-color: var(--red);
        color: var(--red);
    }
    .info-container.active[data-color='blue'] .num{
        border-color: var(--blue);
        color: var(--blue);
    }
    .info-container.active[data-color='green'] .num{
        border-color: var(--green);
        color: var(--green);
    }
    .info-container.active[data-color='white'] .num{
        border-color: var(--white);
        color: var(--gray);
    }
    .info-container.active[data-color='gray'] .num{
        border-color: var(--gray);
        color: var(--gray);
    }
    .info-container.active[data-color='brown'] .num{
        border-color: var(--brown);
        color: var(--brown);
    }
    .info-container.active[data-color='purple'] .num{
        border-color: var(--purple);
        color: var(--purple);
    }
    .info-container.active[data-color='yellow'] .num{
        border-color: var(--yellow);
        color: var(--yellow);
    }
    .info-container.active[data-color='pink'] .num{
        border-color: var(--pink);
        color: var(--pink);
    }
    .info-container.active[data-color='black'] .num{
        border-color: var(--black);
        color: var(--black);
    }
}


/* colores */
.info-container.active[data-color='red'] h1 span,
.pokemon[data-color='red']{
    background: var(--red);
    border:solid 2px var(--red-dark);
}
.pokemon[data-color='red']:hover{
    background: var(--red-light);
    border:solid 2px var(--red);
}
.info-container.active[data-color='blue'] h1 span,
.pokemon[data-color='blue']{
    background: var(--blue);
    border:solid 2px var(--blue-dark);
}
.pokemon[data-color='blue']:hover{
    background: var(--blue-light);
    border:solid 2px var(--blue);
}
.info-container.active[data-color='green'] h1 span,
.pokemon[data-color='green']{
    background: var(--green);
    border:solid 2px var(--green-dark);
}
.pokemon[data-color='green']:hover{
    background: var(--green-light);
    border:solid 2px var(--green);
}
.info-container.active[data-color='white'] h1 span,
.pokemon[data-color='white']{
    background: var(--white);
    border:solid 2px var(--white-dark);
    color:#555;
}
.pokemon[data-color='white']:hover{
    background: var(--white-light);
    border:solid 2px var(--white);
}
.info-container.active[data-color='gray'] h1 span,
.pokemon[data-color='gray']{
    background: var(--gray);
    border:solid 2px var(--gray-dark);
    color:#333;
}
.pokemon[data-color='gray']:hover{
    background: var(--gray-light);
    border:solid 2px var(--gray);
}
.info-container.active[data-color='brown'] h1 span,
.pokemon[data-color='brown']{
    background: var(--brown);
    border:solid 2px var(--brown-dark);
}
.pokemon[data-color='brown']:hover{
    background: var(--brown-light);
    border:solid 2px var(--brown);
}
.info-container.active[data-color='purple'] h1 span,
.pokemon[data-color='purple']{
    background: var(--purple);
    border:solid 2px var(--purple-dark);
}
.pokemon[data-color='purple']:hover{
    background: var(--purple-light);
    border:solid 2px var(--purple);
}
.info-container.active[data-color='yellow'] h1 span,
.pokemon[data-color='yellow']{
    background: var(--yellow);
    border:solid 2px var(--yellow-dark);
    color:#555;
}
.pokemon[data-color='yellow']:hover{
    background: var(--yellow-light);
    border:solid 2px var(--yellow);
}
.info-container.active[data-color='pink'] h1 span,
.pokemon[data-color='pink']{
    background: var(--pink);
    border:solid 2px var(--pink-dark);
}
.pokemon[data-color='pink']:hover{
    background: var(--pink-light);
    border:solid 2px var(--pink);
}
.info-container.active[data-color='black'] h1 span,
.pokemon[data-color='black']{
    background: var(--black);
    border:solid 2px var(--black-dark);
}
.pokemon[data-color='black']:hover{
    background: var(--black-light);
    border:solid 2px var(--black);
}

.pokemon[data-color='red'] .num{
    color: var(--red);
}
.pokemon[data-color='blue'] .num{
    color: var(--blue);
}
.pokemon[data-color='green'] .num{
    color: var(--green);
}
.pokemon[data-color='white'] .num{
    background: var(--white-dark);
    color: var(--white);
}
.pokemon[data-color='gray'] .num{
    color: var(--gray);
}
.pokemon[data-color='brown'] .num{
    color: var(--brown);
}
.pokemon[data-color='purple'] .num{
    color: var(--purple);
}
.pokemon[data-color='yellow'] .num{
    color: var(--yellow);
}
.pokemon[data-color='pink'] .num{
    color: var(--pink);
}
.pokemon[data-color='black'] .num{
    color: var(--black);
}

.info-container[data-color='red']{
    background: var(--red);
}
.info-container[data-color='blue']{
    background: var(--blue);
}
.info-container[data-color='green']{
    background: var(--green);
}
.info-container[data-color='white']{
    background: var(--white);
}
.info-container[data-color='gray']{
    background: var(--gray);
}
.info-container[data-color='brown']{
    background: var(--brown);
}
.info-container[data-color='purple']{
    background: var(--purple);
}
.info-container[data-color='yellow']{
    background: var(--yellow);
}
.info-container[data-color='pink']{
    background: var(--pink);
}
.info-container[data-color='black']{
    background: var(--black);
}


.info-container.active[data-color='red'] h1 span{
    background: var(--red-dark);
}
.info-container.active[data-color='blue'] h1 span{
    background: var(--blue-dark);
}
.info-container.active[data-color='green'] h1 span{
    background: var(--green-dark);
}
.info-container.active[data-color='white'] h1 span{
    background: var(--white-dark);
}
.info-container.active[data-color='gray'] h1 span{
    background: var(--gray-dark);
}
.info-container.active[data-color='brown'] h1 span{
    background: var(--brown-dark);
}
.info-container.active[data-color='purple'] h1 span{
    background: var(--purple-dark);
}
.info-container.active[data-color='yellow'] h1 span{
    background: var(--yellow-dark);
}
.info-container.active[data-color='pink'] h1 span{
    background: var(--pink-dark);
}
.info-container.active[data-color='black'] h1 span{
    background: var(--black-dark);
}



