@import "../../assets/scss/main.scss";

// responsive
@media (min-width: 1px) {
  .home {
    padding: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
      align-items: center;
      justify-content: center;
    }

    .img-responsive {
      svg {
        max-width: 100%;
        height: auto;
        margin: 3rem 0;
      }
    }

    .toggle-mode {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
}

@media (min-width: 400px) {
  .home {
    .container {
      width: 400px;

      &-flex > div {
        display: flex;
        justify-content: center;
      }
    }
    .img-responsive {
      width: 400px;
    }
  }
}

@media (min-width: 800px) {
  .home {
    padding: 0;
    height: 100vh;
    overflow: hidden;
    .container {
      &-flex {
        flex-direction: row;
      }
    }

    .logo {
      margin-top: 0;
    }
  }
}
